img.h-full.w-full.object-cover.object-center.group-hover\:opacity-75 {
    inline-size: 300px;
    block-size: 350px;
}

h1 {
    padding: 40px 0px;
}

.products {
    h1 {
        padding: 40px 100px;
    }
}

.carousel {
    /* Ensures carousel expands correctly */
    max-inline-size: 100%;
    /* Prevents overflow */
    block-size: auto;
    /* Maintains aspect ratio */
}

@media (max-width: 640px) {
    .carousel img {
        block-size: 200px;
        /* Adjust image height for smaller screens */
    }
}